* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: red;
  margin: 0 auto;
  z-index: 999;
}

.search-form {
  display: inline-block;
  position: relative;
}

.search-form > input {
  background: white;
  font-size: 24px;
  padding: 12px 73px 12px 12px;
  margin: 0;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

button[type='submit'] {
  top: 50%;
  right: 0%;
  position: absolute;
  transform: translateY(-50%);
  padding: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  height: 51.6px;
  min-width: 50px;
  background-color: rgb(223, 220, 220);
  font-weight: 700;
  font-size: 16px;
  border: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type='submit']:hover {
  background-color: rgb(191, 189, 189);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: transform 400ms ease-out;
}

img:hover {
  transform: scale(1.15);
}

.wrap-photo {
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;
}

.gallery {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.photo-card {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
  color: white;
  background-color: #53535388;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  transform: translateY(100%);
  transition: transform 150ms ease-out;
}

.photo-card:hover > .info {
  transform: translateY(0);
  transition: transform 150ms ease-out;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

button.load-more {
  margin: 0 auto 20px auto;
  margin-top: 50px;
  display: block;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 30px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

button.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
